.card{
    text-align: center;
}
.department
{
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.dep{
    color:brown;
}
.HOD
{
    color:rgb(247, 172, 10)
}